<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bug Track Api</title>
  </head>
  <body>
    <h2>Bug track Api</h2>
    <h4>Endpoints</h4>
    <ul>
      <li><a href='/issues'>Issues</a></li>
      <li><a href='/projects'>Projects</a></li>
      <li><a href='/users'>Users</a></li>
      <li><a href='/comments'>Comments</a></li>
    </ul>

    <script src="server.js"></script>
  </body>
</html>
